@model LesliesWarehouseAPI.Models.PunchIn

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PunchIn</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PunchInId" class="control-label"></label>
                <input asp-for="PunchInId" class="form-control" />
                <span asp-validation-for="PunchInId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <select asp-for="EmployeeId" class ="form-control" asp-items="ViewBag.EmployeeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PunchInTime" class="control-label"></label>
                <input asp-for="PunchInTime" class="form-control" />
                <span asp-validation-for="PunchInTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PunchInType" class="control-label"></label>
                <input asp-for="PunchInType" class="form-control" />
                <span asp-validation-for="PunchInType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PunchInDate" class="control-label"></label>
                <input asp-for="PunchInDate" class="form-control" />
                <span asp-validation-for="PunchInDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
